/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

:root {
  --create-account-height: 

}

@font-face {
  font-family: 'norsebold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
       url('fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background-image: url(photo-plant.avif);
  width: 40vw;
  height: 100vh;
  position: relative;
  background-size: cover;
}

.logo-odin {
  font: 5rem "norsebold", monospace;
  color: white;
  display: flex;
  height: 8rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}

header > div > img {
  width: auto;
  height: 6rem;
}

header > p {
  display:inline-block;
  color: white;
  font: 0.7rem monospace ;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
}

form > div:first-child {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 4.5rem 3rem 2rem 3rem;
  overflow:hidden;
}

form > div:last-child {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 1.5rem 3rem 2rem 3rem;
  width: 100%;
  flex: 1 1 0;
}

form {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

form > div > p:last-child {
  margin-top: 1rem ;
  background-color: rgba(245, 245, 245, 0.5);
}

label {
  display: inline-block;
  width: 250px;
  text-align: left;
}

.label-input{
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  gap: 3rem;
  padding: 1rem 1rem;
}

.top-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.data > p:first-child {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
}

label {
  font-size: 0.8rem;
}

input:focus {
  border: solid 1px blue;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.527);
  border-radius: 5px;
}

input {
  border-radius: 4px;
  border: 1px rgba(128, 128, 128, 0.3) solid;
  height: 1.5rem;
}

.data {
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.527);
  padding-left: 2rem;
  padding-top: 1rem;
}

span {
  color: rgb(182, 66, 66);
  font-size: 0.6rem;
  visibility: hidden;
  margin: 5px;
}

button {
  background-color: #596D48;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 4rem;
  border-radius: 10px;
}


